#app:
fastapi==0.115.0
PyJWT==2.4.0
pydantic==2.9.2
uvicorn==0.31.0
pydantic-settings==2.5.2
bcrypt==4.2.0
passlib==1.7.4
python-jose==3.3.0
starlette==0.38.6
email_validator==2.2.0

#bd:
psycopg2==2.9.9
alembic==1.13.3
sqlalchemy==2.0.35
redis==5.2.0
